.product{
    margin:20px;
    height: 200px;
    width:250px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(112, 122, 216);
}

.title{
    width:100%;
    text-align: center;

}

.available{
    color:green;
    font-weight: 200;
    font-style: italic;
}

.notAvailable{
    color:red;
    font-weight: 500;
    font-style:normal;
}